html {
    font-size: 16px;
}

.column {
    display: flex;
}

  
#title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 70px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(84, 58, 139);
    border-radius: 5px;
    color: rgb(240, 253, 255);
    font-style: italic;
}

.buttonnavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro {
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(77, 67, 152);
    border-radius: 12px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

}

#cadastro:hover {
    opacity: .85;

}

#mainarticle {
    color: violet;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    text-align:center
}

#mainarticle2 {
    color: violet;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    text-align:center

}

#mainarticle3 {
    color: violet;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    text-align:center

}
